* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  background-color: #000000;
  border-bottom: 1px solid #333333;
}

#workspaces button {
  padding: 0.3rem 0.8rem;
  margin: 0.4rem 0.25rem;
  border-radius: 20px;
  background-color: #111111;
  color: #ffffff;
  border: 2px solid #1e5bc9;
}

#workspaces button:hover {
  color: #000000;
  background-color: #1e5bc9;
  border-color: #1e5bc9;
}

#workspaces button.active {
  background-color: #1e5bc9;
  color: #000000;
  border-color: #1e5bc9;
}

#workspaces button.urgent {
  background-color: #d41919;
  color: #ffffff;
  border-color: #d41919;
}

#clock,
#pulseaudio,
#custom-power,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris,
#battery {
  padding: 0.3rem 0.8rem;
  margin: 0.4rem 0.25rem;
  border-radius: 20px;
  background-color: #111111;
}

#cpu,
#memory,
#tray,
#window {
  color: #1e5bc9;
  border: 2px solid #1e5bc9;
}

#pulseaudio,
#mpris {
  color: #e6c229;
  border: 2px solid #e6c229;
}

#custom-power,
#custom-notification,
#battery {
  color: #d41919;
  border: 2px solid #d41919;
}

#clock {
  color: #ffffff;
  border: 2px solid #333333;
}

#mpris.playing {
  color: #e6c229;
}

#mpris.paused {
  color: #888888;
}

#pulseaudio.muted {
  color: #888888;
}

#battery.charging {
  color: #2ecc71;
  border-color: #2ecc71;
}

#battery.warning:not(.charging) {
  color: #e6c229;
  border-color: #e6c229;
}

#battery.critical:not(.charging) {
  color: #d41919;
  border-color: #d41919;
}

tooltip {
  background-color: #000000;
  border: 2px solid #1e5bc9;
  color: #ffffff;
  border-radius: 10px;
}
